Source: xserver-xorg-video-btsm
Section: x11
Priority: optional
Maintainer: Vadim Vlasov <Vadim.Vlasov@t-platforms.ru>
Build-Depends: autoconf (>= 2.64),
               automake (>= 1.11),
               autopoint,
               autotools-dev,
               debhelper (>= 9),
               gettext,
               xutils-dev
Standards-Version: 3.9.4
Homepage: http://github.com/snegovick/xf86-video-btsm750

Package: xserver-xorg-video-btsm
Architecture: mipsel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X.Org X server -- siliconmotion chips display driver
  This package provides the driver for siliconmotion sm750 and 
	sm768 chip on Baikal-T1 based boards.
